<html>
<body>
    <div class="wraper">
        <div class="container">
            <div *ngFor="let movie of movies" class="item">
                <a [routerLink]="['/movie/'+movie.id]">
                    <div class="image">
                        <img src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}"
                            class="move-image" alt="poster">
                    </div>
                    <h3 class="move-title">{{movie.title}}</h3>
                </a>
            </div>
        </div>
    </div>
</body>

</html>